{% extends "template.html" %}
{% block title %} Calendar • Peer Support SMC{% endblock %}
{% block content %}

<!--Heading-->
<section>
  <div class="container px-4 px-lg-5 h-100 navspace">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h1 class="text-dark headings-font">Calendar</h1>
        <hr class="divider" />
        <p class="text-white-75 mb-5"></p>
      </div>
    </div>
  </div>
</section>

<div class="container" align="center">
    <div class="calendar-container textbox-border">
        <div class="calendar-header">
            <button id="prevMonth" class="btn btn-primary">&lt;</button>
            <h2 id="currentMonthYear"></h2>
            <button id="nextMonth" class="btn btn-primary">&gt;</button>
        </div>
        <div class="calendar-grid">
            <div class="day-name">Sun</div>
            <div class="day-name">Mon</div>
            <div class="day-name">Tue</div>
            <div class="day-name">Wed</div>
            <div class="day-name">Thu</div>
            <div class="day-name">Fri</div>
            <div class="day-name">Sat</div>
        </div>
    </div>
  </div>

  <div class="spacer"></div>

{% endblock %}