{% extends "template.html" %} {% block title %} Meet the Leaders • Peer Support SMC {% endblock %}
{% block content %} 

<!--Heading-->
<section>
    <div class="container px-4 px-lg-5 h-100 navspace">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-dark headings-font">Meet the Leaders</h1>
                <hr class="divider" />
                <p class="text-white-75 mb-5">Your Peer Support Leaders for 2025!</p>
            </div>
        </div>
    </div>
</section>

<div class="spacer"></div>

<!--Year 7 Leaders-->
<section class="container">
    <h2 class="text-center mt-0 headings-font">Year 7</h2>
  <hr class="divider" />
        <div class="row">
        <div class="col">
          <div>
            <div class="card textbox-border">
              <table class="table table-striped table-hover">
                <thead  align="center">
                  <tr>
                    <th scope="col">7BRN</th>
                    <th scope="col">7CLE</th>
                    <th scope="col">7DNN</th>
                    <th scope="col">7GNS</th>
                    <th scope="col">7LIS</th>
                  </tr>
                </thead>
                <tbody  align="center">
                  <tr>
                    <td>Destin Barte</td>
                    <td>Sean Serdenia</td>
                    <td>Kari Chun</td>
                    <td>Kyle Damodara</td>
                    <td>Ruiqi Jiang</td>
                  </tr>
                  <tr>
                    <td>Sylvia Yap</td>
                    <td>Chloe Ferrera</td>
                    <td>Haydn Gedge</td>
                    <td>Drew Smal</td>
                    <td>Glaine Geralde</td>
                  </tr>
                  <tr>
                    <td>Ezabella Lanuza</td>
                    <td>Liam Burton</td>
                    <td>Winnie Zou</td>
                    <td>Liam Marnewick</td>
                    <td>Rosie Finau</td>
                  </tr>
                  <tr>
                    <td>Samantha Dela Cruz</td>
                    <td>Audrey Basilio</td>
                    <td>Patrick Malden</td>
                    <td>Mercy Magele-Rees</td>
                    <td>Danielle Orange</td>
                  </tr>
                  <tr>
                    <td>Ryile Lesoa</td>
                    <td>Lusia Koloamatangi</td>
                    <td>Ryan Massey</td>
                    <td>Gabriella Clifford</td>
                    <td>Cherise Didier'Serre</td>
                  </tr>
                                    <tr>
                    <td>Annaleise Farmer</td>
                    <td>Fiona Sheng</td>
                    <td>Zoe Martis</td>
                    <td>Eirynn Belonio</td>
                    <td>Jilius Pender</td>
                  </tr>
                                    <tr>
                    <td>Andre Bacale-Mercadoe</td>
                    <td>Jethro Matanguihan</td>
                    <td>Ceanna Cruz</td>
                    <td></td>
                    <td>Yumeth Mendis</td>
                  </tr>
                                    <tr>
                    <td>Rylie Lesoa</td>
                    <td>Ruta Siketi</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                                    <tr>
                    <td>Leon Earl</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <div class="spacer"></div>

      <!--Year 8 Leaders-->
 <section class="container">
    <h2 class="text-center mt-0 headings-font">Year 8</h2>
  <hr class="divider" />
        <div class="row">
        <div class="col">
          <div>
            <div class="card textbox-border">
              <table class="table table-striped table-hover">
                <thead  align="center">
                  <tr>
                    <th scope="col">8BRN</th>
                    <th scope="col">8CLE</th>
                    <th scope="col">8DNN</th>
                    <th scope="col">8GNS</th>
                    <th scope="col">8LIS</th>
                  </tr>
                </thead>
                <tbody  align="center">
                  <tr>
                    <td>Gabriel Heruela</td>
                    <td>Lyla Latay</td>
                    <td>Abby Sloane</td>
                    <td>Jannina Matanguihan</td>
                    <td>Amber Chan</td>
                  </tr>
                  <tr>
                    <td>Patience Mugadza</td>
                    <td>Sonny Eddie Leota</td>
                    <td>Kael Marie Sunga</td>
                    <td>Marcella Mousses</td>
                    <td>Jazmine Echon</td>
                  </tr>
                  <tr>
                    <td>Andrew Nuamaan</td>
                    <td>Rocky Liu</td>
                    <td>River Swaris</td>
                    <td>Joshua Orange</td>
                    <td>Eliyana Eliki-Jones</td>
                  </tr>
                  <tr>
                    <td>Siobhan O'Rourke</td>
                    <td>Kiarna Makoare</td>
                    <td>Ashley Ip</td>
                    <td>Lucas Siu</td>
                    <td>Jake Price</td>
                  </tr>
                  <tr>
                    <td>Alex Goddard</td>
                    <td>Andrea Araza</td>
                    <td>Gavin Israel</td>
                    <td>Jakob Yang</td>
                    <td>Aaron Santoso</td>
                  </tr>
                                    <tr>
                    <td>Hannah Hong</td>
                    <td>Anika Bautista</td>
                    <td>Maia Tay-Morrison</td>
                    <td>Tomaz Zheng</td>
                    <td></td>
                  </tr>
                                    <tr>
                    <td>Breanna Feagaiga</td>
                    <td></td>
                    <td>Raeana Flanagan</td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
<div class="spacer"></div>


<!--Leader Interview-->
<section class="container">
  <div class="home-img-circle">
    <img class="mx-auto rounded-circle" src="static/assets/img/picture10.jpg" alt="..." height="400px" width="400px"/>
    <h4>Meet Zach</h4>
    <p class="text-white-75 mb-5">"Signing up for Peer Support after doing it the year before was certainly the right choice. Even with the new challenges that comes with nurturing the Year 8s, I still find working together with them as well as my fellow leaders to be an exciting way to spice up my Thursday Mornings."</p>
  </div>
</section>

{% endblock %}