{% extends "template.html" %}
{% block title %} Sing & Dance Off • Peer Support SMC{% endblock %}
{% block content %}

<!--Heading-->
<section>
    <div class="container px-4 px-lg-5 h-100 navspace">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-dark font-weight-bold headingsfont">Sing & Dance Off</h1>
                <hr class="divider" />
                <p class="text-white-75 mb-5">The end of year competiton for the pizza lunch featuring lots of singing,
                    dancing and cheering!</p>
            </div>
        </div>
    </div>
</section>

<div class="spacer"></div>

{% endblock %}