<!-- page extends to template.html -->
{% extends "template.html" %} {% block title %} Update Post • Peer Support SMC {% endblock %}
<!-- update post page content -->
{% block content %} 
<!--Heading-->
<div class="content-section container">
<section class="container">
  <div class="container px-4 px-lg-5 h-100 navspace">
    <div
      class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center"
    >
      <div class="col-lg-8 align-self-end">
        <h1 class="text-dark headings-font">Update Post</h1>
        <hr class="divider" />
      </div>
    </div>
  </div>
</section>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {% if form.title.errors %}
                    {{ form.title(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tile.errors %}
                            <span>{{ error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <br/>

        <fieldset class="form-group">
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                    {{ form.content(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.content.errors %}
                            <span>{{ error}}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <br/>
            <div class="form-group" align="center">
                {{ form.submit(class="btn btn-primary btn-lg red") }}
            </div>
    </form>
</div>

{% endblock %}